*{
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -mozbox-sizing: border-box;
     -o-box-sizing: border-box;
}
 body{
     background-color: #eee;
     background-image:url('images/cooking2.jpg');
     background-position:center center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;


     color: #222;
     font: tahoma;
     font-size: 12px;
}
 table{
     width: 100%
}
 table,th,td{
     border: 1px solid red;
     font: 12px tahoma;
     border-collapse: collapse;
     text-align: center;
     padding: 10px
}
 tr:nth-child(even){
     background: #ccc;
}
 a{
     color: #222;
     text-decoration: none;
     font-family: tahoma;
     font-size: 12px;
}
/* زمانی که نشانگر موس روی لینک هست*/
 a:hover{
     background: rgb(0, 200, 0);
}
/*زمانی که ما لینک رو یک بار باز کردیم */
 a:visited{
     color: #666;
}
/*زمانی که روی لینک کلیک میکنیم*/
 a:focus{
     color: green;
}
/*زمانی که لینک اکتیو است */
 a:active{
     color: black;
}
 li{
     list-style:initial;
     font-family: tahoma;
     font-size: 12px;
     color: rgba(0, 255, 0);
}


.cloud{
  width: 200px;
  height: 200px;
  background: rgb(0, 150, 0);
  color: #fff;
  font-size: 40px;
  text-align: center;
  border: 5px solid #34495e;
  margin: 20px auto 20px;
  padding: 20px;
  float: left;


}


.box{
  width: 200px;
  height: 200px;
  background: rgb(150, 0, 0);
  color: #fff;
  font-size: 40px;
  text-align: center;
  border: 5px solid #34495e;
  margin: 10px;
  padding: 20px;

}
