*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  /*background: #fff;*/
}
table{
  width: 100%
}

table,th,td{
  border: 1px solid red;
  font: 12px tahoma;
  border-collapse: collapse;
  text-align: center;
  padding: 10px
}
tr:nth-child(even){
  background: #ccc;
}


a{
  color: #222;
  text-decoration: none;
  font-family: tahoma;
  font-size: 12px;
}

/* زمانی که نشانگر موس روی لینک هست*/
a:hover{
  background: blue;
}
/*زمانی که ما لینک رو یک بار باز کردیم */

a:visited{
  color: #666;
}
/*زمانی که روی لینک کلیک میکنیم*/

a:focus{
  color: green;
}
/*زمانی که لینک اکتیو است */

a:active{
  color: black;
}

li{
  list-style:initial;
  font-family: tahoma;
  font-size: 12px;
}
